     /* Start Navbar */
        .nav-link {
            color: #000000 !important;
            font-weight: 500;
        }
        .nav-link:hover {
            color: #4e73df !important;
        }

        button.btn {
            background-color: #4e73df;
            color: white;
            border-radius: 10px;
            padding: 8px 20px;
            font-weight: 400;
        }
            button.btn:hover {
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                border: 1px solid #4e73df;
            }
    
      
        /* End Navbar */














        
        /* Start Footer */
        footer {
            background-color: #d7d0d045;
           
        }

       .text-dark {
        text-decoration: none;
       }
       .text-dark:hover {
        color: #4e73df !important;
       }
        /* End Footer */