 body {
            background-color: #f5f7fb;
        }
        /* Start Navbar */
        .nav-link {
            color: #000000 !important;
            font-weight: 500;
        }
        .nav-link:hover {
            color: #4e73df !important;
        }

        button.btn {
            background-color: #4e73df;
            color: white;
            border-radius: 10px;
            padding: 8px 20px;
            font-weight: 400;
        }
            button.btn:hover {
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                border: 1px solid #4e73df;
            }
    
      
        /* End Navbar */


        /* Start Hero */

        .hero {
            background: linear-gradient(135deg, #6f42c1, #4e73df);
            color: white;
            padding: 60px 0;
            border-radius: 0 0 30px 30px;
        }

        .search-box input {
            height: 55px;
        }
        /* End Hero */

        /* Start Services */

        .service-card {
            transition: 0.3s;
            cursor: pointer;
        }

        .service-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }

        /* End Services */

        /* Start Recommended */

        .recommended-banner {
            background: url('../../assets/imgs/Tajmahal.png') center/cover;
            height: 250px;
            border-radius: 15px;
            position: relative;
            color: white;
        }

        .recommended-overlay {
            background: rgba(0,0,0,0.6);
            height: 100%;
            border-radius: 15px;
            padding: 30px;
        }
        /* End Recommended */

        /* Start Popular */

        .card {
            transition: 0.3s;
            cursor: pointer;
            border-radius: 20px !important;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 25px rgba(0,0,0,0.1);
        }
        /* End Popular */

        /* Start Footer */
        footer {
            background-color: #d7d0d045;
           
        }

       .text-dark {
        text-decoration: none;
       }
       .text-dark:hover {
        color: #4e73df !important;
       }
        /* End Footer */