body {
    font-family: 'Segoe UI', sans-serif;
    background: #f8f9fc;
}

a {
    text-decoration: none;
}

/* NAVBAR */
.navbar {
    padding: 15px 0;
}

.search-box{
    width:400px;
    border-radius:30px;
    padding-left:45px;
}

.search-icon{
    position:absolute;
    top:50%;
    left:15px;
    transform:translateY(-50%);
    color:#6c757d;
    font-size:18px;
}

.link-1:hover{
    
    color: #6f42c1 !important;
    
}
.login-btn{
    background: linear-gradient(135deg, #6f42c1, #4e73df) !important;
    padding: 5px 25px;
     border-radius: 10px;
    
   
}
.login-btn:hover{
    background: linear-gradient(135deg, #4e73df, #6f42c1) !important;
    
}
        
 /* End Navbar */







     

     /* ================= EXPLORE PAGE ================= */

.explore-page{
    background:#f5f6fa;
}

/* Categories */
.categories-scroll{
    display:flex;
    gap:15px;
    overflow-x:auto;
    scrollbar-width:none;
}

.categories-scroll::-webkit-scrollbar{
    display:none;
}

.category-pill{
    border:1px solid #ddd;
    background:white;
    padding:8px 18px;
    border-radius:30px;
    white-space:nowrap;
    transition:0.3s;
    font-size:14px;
}

.category-pill i{
    margin-right:6px;
}

.category-pill:hover{
    background:#6f42c1;
    color:white;
    border-color:#6f42c1;
}

.category-pill.active{
    background:#6f42c1;
    color:white;
    border-color:#6f42c1;
}


/* Explore Card */
.explore-card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    transition:0.3s;
}

.explore-card:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 35px rgba(0,0,0,0.08);
}

.explore-img{
    position:relative;
}

.explore-img img{
    width:100%;
    height:230px;
    object-fit:cover;
}

.favorite-btn{
    position:absolute;
    top:15px;
    right:15px;
    background:white;
    border:none;
    width:35px;
    height:35px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    cursor:pointer;
}

.favorite-btn:hover{
    background:#6f42c1;
    color:white;
}
.active-heart{
    background:#6f42c1 !important;
    color:white !important;
}

.pagination-container button.active{
    background:#6f42c1;
    color:white;
}


.explore-content{
    padding:15px;
}

.category-label{
    font-size:12px;
    color:#999;
}

.price{
    font-weight:600;
}

.rating{
    font-size:14px;
}





































     /* Start Footer */
     footer {
         background-color: #d7d0d045;

     }

     .text-dark {
         text-decoration: none;
     }

     .text-dark:hover {
         color: #4e73df !important;
     }

     /* End Footer */