body {
  background: #f8f8fb;
  font-family: 'Segoe UI', sans-serif;
}
a.back-link {
  text-decoration: none;
  color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
a.back-link:hover {
  color: #6f42c1;
}

/* LEFT PANEL */
.input-box {
  background: #f1f1f6;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-box.active {
  background: #e6dcff;
  color: #6f42c1;
}

/* RIDE CARDS */

.ride-card {
  background: #f3f3f7;
  padding: 0 18px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.ride-card:hover {
  transform: translateY(-3px);
}

.ride-card.active {
  border: 2px solid #6f42c1;
  background: #f8f3ff;
}
.ride-info{
    margin-top: 20px;
    
}
.vip{
    color: #efc300;
}

.form-select {
  border: none;
  padding: 12px;
  border-radius: 10px;
  
}


/* BUTTON */
.select-btn {
  background: linear-gradient(45deg, #6f42c1, #7f56ff);
  color: white;
  border-radius: 10px;
  padding: 12px;
  font-weight: 600;
}

/* MAP */
iframe {
  border: none;
  margin-top: 60px;
  border-radius: 10px;
}


/* RESPONSIVE */
@media(max-width: 992px){
  .map-box img{
    height: 400px;
  }
}
